/Programming Language/Kotlin/.DS_Store
/Programming Language/Python/2018 여름방학 파이썬 프로젝트반/Project/__pycache__/
/Programming Language/Python/DIY Hxd/bin/ex01.vhd
/Programming Language/Python/DIY Hxd/__pycache__/
/Web/PHP/SimpleBoard/db_info.php