h1 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.menubar {
    font: 67.5% "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    font-weight: bold;
}
    
.menubar ul {
    background: rgb(0, 140, 255);
    height: 50px;
    list-style: none; /* 리스트 태그의 기호를 none으로 설정 */
    margin: 0;
    padding: 0;
}
    
.menubar li {
    float: left;
    padding: 0px;
}
    
.menubar li a {
    background: rgb(0, 140, 255);
    color:#cccccc;
    display: block;
    font-weight: normal;
    line-height: 50px;
    padding: 0px 25px;
    text-align: center;  
    text-decoration: none;
}
    
.menubar li a:hover, .menubar ul li:hover a {
    background: rgb(0, 115, 210);
    color:#FFFFFF;
    text-decoration: none;
}
    
.menubar li ul {
    background: rgb(0, 140, 255);
    display: none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
    height: auto;
    position: absolute;
    width: 200px;
    z-index: 200;
}
    
.menubar li:hover ul {
    display: block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}
    
.menubar li li {
    background: rgb(0, 140, 255);
    display: block;
    float: none;
    width: 200px;
}
    
.menubar li:hover li a {
    background: none;
}
    
.menubar li ul a {
    display: block;
    height: 50px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}
    
.menubar li ul a:hover, .menubar li ul li:hover a {
    background: rgb(0, 115, 210);
    border:0px;
    color:#ffffff;
    text-decoration:none;
}
    
.menubar p {
    clear:left;
    }