@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-align: center;
}

.form {
  margin-top: 10%;
}

.area {
  display: grid;
  margin-top: 15px;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.btn {
  margin-top: 20px;
  text-align: center;
}

.inp {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.2s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}


body:before{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

button {
  background:skyblue;
  color:#fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 1.5em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

button:hover {
  background:#fff;
  color:skyblue;
}

button:before, button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: skyblue;
  transition: 400ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before,button:hover:after{
  width: 100%;
  transition: 0.8s ease all;
}