td {
    font-size: 9pt;
}

A:link {
    font: 9pt;
    color: black;
    text-decoration: none;
    font-family: 굴림;
    font-size: 9pt;
}

A:visited {
    text-decoration: none;
    color: black;
    font-size: 9pt;
}

A:hover {
    text-decoration: underline;
    color: black;
    font-size: 9pt;
}